.search {
  position: relative;
  &_form {
    background: $color_white;
    border-radius: $spacing * 5;
    padding: 0 $spacing;

    @include dynamicAlign($align: center);
    svg {
      width: $spacing * 2;
      height: $spacing * 2;
      path,
      circle {
        stroke: $color_gray_normal;
      }
    }

    input {
      background: transparent;
      outline: none;
      border: none;
      font-size: $spacing * 1.4;
      padding: $spacing * 2 0;

      flex: 1;
    }

    a {
      padding: $spacing $spacing * 2;
      border-radius: $spacing * 2;
      font-size: $spacing * 1.5;
      color: $color_black;
      background: $color_gray_light;
    }
  }

  // darkmode
  body.darkmode & {
    &_form {
      background: $color_gray_dark;
      input {
        background: transparent;
        color: $color_white;
      }
      a {
        color: $color_white;
        background: $color_gray_dark;
        @include transition;
        &:hover {
          color: $color_white;
          background: $color_pink;
        }
      }
    }
  }
}
